#root {
  /*
  max-width: 1280px;
  */
  width: 94%;
  margin: 0 auto;
  padding: 2rem;
  padding: 3%;
  text-align: center;
  color: black;
}

.error404 {
  font-family: "Roboto", sans-serif;
  padding: 1em 2em 1em 2em;
  background-color: #d56868df;
  border-radius: 15px;
  color: black;
}
body {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}
.content {
  max-width: 100%;
  height: 75%;
  margin: auto;
  width: fit-content;
}
.navigation {
  margin: auto;
  width: fit-content;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none;
}
.navigation li {
  padding: 0 30px 7px 30px;
}
.navigation a {
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0);
  color: black;
  padding: 0.4em 0.5em 0.4em 0.5em;
  font-size: 30px;
}
.navigation a:hover {
  background-color: lightblue;
  border: solid 1px black;
  border-radius: 7px;
}
.navigation a:active {
  outline: 3px outset rgba(77, 148, 181, 0.213);
  color: black;
  border: solid 1px black;
}
.line {
  border: 3px solid rgb(21, 96, 130);
  border-radius: 5px;
  width: 90%;
}
hr {
  border: 2px solid rgb(21, 96, 130);
  border-radius: 5px;
  width: 95%;
}
.menu-table {
  overflow: auto;
  max-height: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 3px;
  border: 1px solid black;
}
.menu-table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.menu-table::-webkit-scrollbar-thumb {
  cursor: grab;
}
.menu-table::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
::-webkit-scrollbar-track {
  background: rgba(170, 197, 220, 0.4);
}
::-webkit-scrollbar-thumb {
  background: rgba(45, 107, 136, 0.906);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 96, 130, 0.651);
}
table, th, td {
  padding: 10px 20px 10px 20px;
  border-right: 1px solid rgba(21, 96, 130, 0.5);
  border-collapse: collapse;
  text-wrap: wrap;
}
table {
  border: none
}
th {
  position: sticky;
  background-color: rgb(21, 96, 130);
  color: white;
}
tr:nth-child(even) {
  background-color: rgba(216, 224, 231, 0.4);
}
tr:nth-child(odd) {
  background-color: rgba(169, 189, 209, 0.5);
}
.table-button {
  background-color: lightblue;
  border: 1px solid rgba(255, 255, 255);
  margin: 10px 10px 10px 10px;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.link-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 200px;
}
.number-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-wrap: nowrap;
}
.number-input {
  width: 162.225px;
}
form {
  padding-bottom: 10px;
}
.first-field {
  margin-top: 0px;
}
.radio-field {
  padding: 10px 0 15px 0;
}
.radio-input {
  margin-left: 10px;
}
.radio-label {
  margin-right: 10px;
}
fieldset {
  background-color: #eeeeee;
  margin-top: -7px;
}
legend {
  background-color: rgba(128, 128, 128, 0.85);
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
}
input {
  margin: 5px;
  padding: 3px;
}
textarea{
  margin-top: 5px;
  padding: 5px;
  height: 50px;
}
.input-button {
  background-color: lightblue;
  border: 1px solid rgba(255, 255, 255);
  margin: 10px 10px 10px 10px;
}
