#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

.error404 {
  font-family: "Roboto", sans-serif;
  padding: 1em 2em 1em 2em;
  background-color: #d56868df;
  border-radius: 15px;
  color: black;
}
.content {
  margin: auto;
  margin-top: -40px;
  width: fit-content;
}
.navigation {
  margin: auto;
  width: fit-content;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none;
}
.navigation li {
  padding: 0 30px 7px 30px;
}
.navigation a {
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0);
  color: black;
  padding: 0.4em 0.5em 0.4em 0.5em;
  font-size: 30px;
}
.navigation a:hover {
  background-color: lightblue;
  border: solid 1px black;
  border-radius: 7px;
}
.line {
  border: 3px solid rgb(21, 96, 130);
  border-radius: 5px;
  width: 90%;
}
hr {
  border: 2px solid rgb(21, 96, 130);
  border-radius: 5px;
  width: 95%;
}
